@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #5451A6;
}

/* container section */
.container {
    text-align: center;
    color: #fff;
    margin: 10% 20%;
    border: 2px solid #fff;
    border-radius: 10px;
}

.container h2 {
    font-weight: bold;
    margin: 35px;
}

.header {
    font-weight: bold;
}

#input {
    margin: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #5451A6;
    padding: 3px;
}

#btn {
    color: #5451A6;
    background-color: #fff;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 20px;
    ;
}

/* footer-section */
.footer {
    text-align: center;
    color: #fff;
    padding: 20px 10px;
    margin-top: 5%;
}

.footer-list {
    list-style: none;

}

.social-link a {
    text-decoration: none;
    color: #fff;
}

.social-link {
    display: inline;
    padding: 10px;
}

.fa-brands,
.fa-solid {
    font-size: 20px;
}

.fa-brands:hover {
    padding: 5px 5px;
    background-color: #fff;
    color: #5451A6;
    border-radius: 50%;
}

.fa-solid:hover {
    padding: 5px 5px;
    padding: auto;
    background-color: #fff;
    color: #5451A6;
    border-radius: 50%;
}